<nav class="cabecalho" aria-label="Menu principal">
        <a href="/" aria-label="Ir para página inicial">
            <img src="../imgs/logo/Logo pet.png" alt="PET Computação - Grupo de extensão do ICMC/USP">
            <img class="logo_pet_hover" src="../imgs/logo/Logo pet - verde escuro.png" alt="" role="img" aria-hidden="true">
        </a>
        <ul class="links_cabecalho">
            <li><a href="/projetos">Projetos</a></li>
            <li><a href="/membros">Membros</a></li>
            <li><a href="/sobre-nos">Sobre nós</a></li>
        </ul>
    </nav>