<footer class="footer_landing_page">
        <section class="footer_links">
            <img src="../imgs/logo/Logo pet - verde escuro.png" alt="" class="footer_logo_pet">
            <ul>
                <li>
                    <a href="https://www.facebook.com/petcompusp">
                        <img src="../imgs/icones/icon_facebook.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/petcomputacaousp/">
                        <img src="../imgs/icones/icon_instagram.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/PETComp_USP">
                        <img src="../imgs/icones/icon_x.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/petcompusp/about/">
                        <img src="../imgs/icones/icon_linkedin.svg" alt="">
                    </a>
                </li>   
            </ul>  
        </section>
        <section class="footer_contato">
            <article>
                <img src="../imgs/icones/icon_email.svg" alt="" class="icon_footer_email">
                <p>petcomp@icmc.usp.br</p>
            </article>
            <article>
                <img src="../imgs/icones/icon_localizacao.svg" alt="" class="icon_footer_localizacao">
                <p>Av. Trab. São Carlense, 400 - São Carlos/SP Bloco 1, sala 1-103 do ICMC</p>
            </article>
        </section>
        <section class="footer_parcerias">
            <img src="../imgs/logo/logo icmc.png" alt="" class="footer_logo_icmc">
            <img src="../imgs/logo/logo usp.png" alt="" class="footer_logo_usp">
        </section>
    </footer>