*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, p, button, span{  /* Todas as fonts*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-size: 32px;
}
h2{
    font-size: 22px;
}
h3{
    font-size: 18px;
}

/* Banner - inicio */
    .banner_equipe_pet{
        width: 100%;
        height: auto;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .banner_equipe_pet img{
        width: 100%;
    }

    .banner_equipe_pet::before{
        content: "";
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 15vh;
        background: linear-gradient(to top, #6b9950, rgba(0, 0, 0, 0));
    }
    .banner_equipe_pet h1{
        margin: auto;
        position: absolute;
        padding-bottom: 5vh;
        color: white;
        z-index: 2;
        text-align: center;
    }
/* Banner - fim */

/* Pilares - inicio */
    .pilares{
        margin: auto;
        align-items: center;
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 6vh 0vw;
        gap: 5vw;
    }
    .pilares figure{
        display: grid;
        gap: 2vh;
    }
    .pilares img{
        margin: auto;
    }
    .pilares h3{
        color: #6b9950;
    }
/* Pilares - fim */

/* Atividades - início */
    .nossas_atividades{
        display: grid;
    }
    .figure_titulo_atividades{
            margin: auto;
            display: flex;
    }
    .figure_titulo_atividades h1{
        color: #386641;
        font-style: italic;
    }

    .atividades_andamento_proximas{
        margin: auto;
        gap: 3vw;
    }

    .atividades_em_andamento{
        background-color: #f2f2f2;
        border-radius: 20px;
        padding: 4vh 3vh;
        width: 100%;
    }
    .atividades_em_andamento h2{
        color: #386641;
        margin-bottom: 2vh;
        word-break: normal;
    }
    .atividades_em_andamento figure{
        display: flex;
        align-items: center;
        gap: 2vh;
        padding: 1vh;
        margin-top: 1vh;
        cursor: pointer;
        border-radius: 10px;
    }
    .atividades_em_andamento figure:hover{
        background-color: #e2e2e2;
    }
    .atividades_em_andamento figure img{
        width: 28px;
        height: 28px;
    }
    .atividades_em_andamento figure h3{
        text-decoration: underline  ;
    }
    .atividades_em_andamento figure h3, .atividades_em_andamento figure p{
        color: #333333;
        word-break: break-word;
    }
    .atividades_em_andamento figure p{
        font-size: 15px;
    }

    .proximas_atividades img{
        cursor: pointer;
        border-radius: 20px;
    }
    .proximas_atividades p{
        color: #333333a9;
        font-size: 18px;
        text-align: center;
        margin-top: 1vh;
    }
    .proximas_atividades figure span{
        margin-top: 1vh;
        display: block;
        width: 100%;
        text-align: center;
        color: #345f3c;
        font-weight: 600;
        font-size: 18px;
    }
/* Atividades - fim */

/* conheca nossos projetos - inicio */
    .conheca_nossos_projetos{
        align-items: center;
        justify-content: center;
    }
    .conheca_nossos_projetos h3{
        font-weight: 100;
        color: #565656;
    }
    .conheca_nossos_projetos button{
        padding: 3vh 0vw;
        background-color: #386641;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        color: white;
        font-weight: bold;
        font-style: italic;
        font-size: 18px;
    }
/* conheca nossos projetos - fim */

@media screen and (min-width: 1024px) {  /* Desktop */
    /* Banner - inicio */
        .banner_mobile{
            display: none;
        }
    /* Banner - fim */

    /* Pilares - início */
        hr{
            display: none;      
        }
    /* Pilares - fim */

    /* Atividades - início */
        .nossas_atividades{
            margin: 10vh 6vh 6vh 6vh;
        }
        .figure_titulo_atividades{
            gap: 4vh;
        }
        .figure_titulo_atividades h1{
            border-left: 2px solid;
            padding-left: 4vh;
        }
        .figure_titulo_atividades img{
            max-height: 80px;
        }

        .atividades_andamento_proximas{
            display: flex;
            padding: 6vh 0vw;
            gap: 3vw;
        }
        .atividades_em_andamento{
            max-width: 25vw;
        }
        .proximas_atividades{
            display: flex;
            gap: 2vh;
            margin-top: 4vh;
        }
        .proximas_atividades figure{
            width: 14vw;
            transition: width 0.3s ease;
        }
        .proximas_atividades img{
            width: 100%;
            margin-bottom: 1vh;
        }
        .proximas_atividades figure:hover{
            width: 15vw;
        }
    /* Atividades - fim */
    
}

@media screen and (min-width: 768px){ /* desktop & tablet: conheça nossos projetos */
    /* conheca nossos projetos - inicio */
        .conheca_nossos_projetos{
            display: flex;
            gap: 8vh;
        }
        .conheca_nossos_projetos button{
            width: 25vw;
        }
        .conheca_nossos_projetos button:hover{
            background-color: #345f3c;
        }
    /* conheca nossos projetos - fim */
}

@media screen and (min-width: 768px) and (max-width: 1023px) { /* Tablet */
    /* Banner - inicio */
        .banner_mobile{
            display: none;
        }
    /* Banner - fim */
}

@media screen and (max-width: 1023px) { /* tablet & mobile: atividades */
    /* Pilares - início */
        hr{
            width: 80%;
            color: #6b9950;
            height: 1px;
            margin: 0 auto;   
            opacity: 50%;       
        }
    /* Pilares - fim */

    /* Atividades - início */
        .nossas_atividades{
            margin: 10vh 10vw 0vh 10vw;
        }
        .figure_titulo_atividades{
            gap: 4vh;
        }
        .figure_titulo_atividades h1{
            text-align: center;
            z-index: 1;
        }
        .figure_titulo_atividades img{
            max-height: 150px;
            position: absolute;
            left: 50%;
            margin-top: -40px;
            transform: translateX(-50%);
            opacity: 20%;
            z-index: 0;
        }
        .atividades_andamento_proximas{
            display: grid;
            padding: 9vh 0vw;
            gap: 3vw;
            width: 100%;
        }
        .proximas_atividades{
            display: grid;
            gap: 3vh;
            grid-template-columns: 1fr 1fr; 
        }
        .proximas_atividades img{
            width: 100%;
        }
    /* Atividades - fim */
    
}

@media screen and (max-width: 767px) { /* mobile */
    /* Banner - inicio */
        .banner_desktop{
            display: none;
        }
    /* Banner - fim */

    /* conheca nossos projetos - inicio */
        .conheca_nossos_projetos{
            display: grid;
            gap: 3vh;
        }
        .conheca_nossos_projetos h3{
            text-align: center;
        }
        .conheca_nossos_projetos button{
            width: 70vw;
        }
        .conheca_nossos_projetos button:hover{
            background-color: #345f3c;
        }
    /* conheca nossos projetos - fim */
}