.barra {
    width: 100%;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    background-color: white;
    position: relative;
    z-index: 1000;
}

.barra :nth-child(1) {
    padding: 0;
    border: none;
    background: none;
    margin-left: 9.9%;
    cursor: pointer;
}

.barra img {
    display: block;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 2.5rem;
    width: auto;
}

.direita {
    justify-content: right;
    flex: 1 0 auto;
    margin-right: 9.9%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7%;
}

.direita a {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.direita a:visited {
    color: black;
}

.direita a:hover {
    color: black;
}

.direita a:active {
    color: black;
}

.pet_learn {
    padding-top: 6px;
    padding-bottom: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-color: transparent;
    border-radius: 5px;
    background-color: #A842C1;
    cursor: pointer;
}

.pet_learn span {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1em;
    flex: 1 0 auto;
    color: white;
}